<div class="row">
  <div class="span2">
    <p><%= team.name %></p>
  </div> 
  <div class="span2">
    <p><%= team.shift.name %></p>
  </div>
  <%= form_tag team_members_path do %>
    <%= hidden_field_tag 'user_id', current_user.id %> 
    <%= hidden_field_tag 'team_id', team.id %> 
    <%= submit_tag "Join" %>
  <% end %> 
</div>
