<li class="<%= current_user.id == to_do_item.creator ? 'mine':'' %>">
<%= to_do_item.description %>
<%= form_tag patient_to_do_item_path(patient, to_do_item), method: :put do %>
  <% if item_state == 'todo' %>
    <%= submit_tag "Pending" %>
  <% end %>
  <%= submit_tag "Done" %>
  <% if !to_do_item.handed_over? %>
    <%= link_to "Handover", new_to_do_item_handover_path(to_do_item) %>
  <% end %>
<% end %>
</li>
