<%= render 'select_ward' %>
<h2>Current Patient List</h2>

<% if ward %>
  <h2><%= ward %> Patients</h2>
<% else %>
  <h2>All Patients</h2>
<% end %>

<table>
    <thead>
      <th>ward</th>
      <th>details</th>
      <th>pmh</th>
      <th>allergies</th>
      <th>pending</th>
      <th>todo</th>
    </thead>
  <tbody>
    <% patients.each do |patient| %>
      <tr>
        <td><%= patient.ward %></td>
        <td class="details">
          <p>Name: <%= patient.name %> (<%= patient.sex %>)</p>
          <p>Hospital num: <%= patient.hospno %></p>
          <p>DOB: <%= patient.birthdate %></p>
        </td>
        <td><%= patient.pmh %></td>
        <td><%= patient.allergies %></td>
        <td><%= patient.pending %></td>
        <td><%= patient.todo %></td>
      </tr>
    <% end %>
  </tbody>
</table>


