<header>
  <%= render 'select_ward' %>
  <h2>Current Patient List</h2>
  <% if ward %>
    <h2><%= ward %> Patients</h2>
  <% else %>
    <h2>All Patients</h2>
  <% end %>
  <%= link_to "Download as CSV (for import to Excel)", current_patient_lists_path(:ward=>ward, :format=>'csv'), :class=>'download' %>
</header>

<table>
    <thead>
      <th>risk level</th>
      <th>ward</th>
      <th>details</th>
      <th>pmh</th>
      <th>allergies</th>
      <th>pending</th>
      <th>todo</th>
      <th>actions</th>
    </thead>
  <tbody>
    <% patients.each do |patient| %>
      <tr class='patient_detail'>
        <td class='risk-level'><%= select_tag "risk_level", options_for_select(["low","medium","high"], :selected=>"low") %></td>
        <td><%= patient.ward %></td>
        <td class="details">
          <p>Name: <%= patient.name %> (<%= patient.sex %>)</p>
          <p>Hospital num: <%= patient.hospno %></p>
          <p>DOB: <%= patient.birthdate %></p>
        </td>
        <td><%= patient.pmh %></td>
        <td><%= patient.allergies %></td>
        <td><%= link_to render('patient_detail_to_do',:to_dos=>patient.pendings), edit_patient_path(patient.patient_id, :ward=>ward) %></td>
        <td><%= link_to render('patient_detail_to_do',:to_dos=>patient.to_dos), edit_patient_path(patient.patient_id, :ward=>ward) %></td>
        <td><%= link_to "history", history_patient_path(patient.patient_id, :ward=>ward) %></td>
      </tr>
    <% end %>
  </tbody>
</table>


