<header>
<h1><%= full_name(patient) %></h1>
<%= link_to back_link_text, current_patient_lists_path(:ward=>ward) %>

</header>
<div id="todo-section">
  <%= simple_form_for :to_do_item, :url=>patient_to_do_items_path(patient.id) do |f| %>
    <%= f.input :description %>
    <%= f.submit %>
  <% end %>
  <h2>To do</h2>
  <ul id="todo" class="todo-list">
    <%= render patient.to_dos, :next_event=>'pending' %>
  </ul>

</div>

<div id="pending-section">
  <h2>Pending</h2>
  <ul id="pending" class="todo-list">
    <%= render patient.pendings, :next_event=>'done' %>
  </ul>

</div>
