<h1><%= patient.name %></h1>

<div id="patient-details">
  <table>
    <tr><td>Risk Level:</td> <td><%= patient.risk_level %></td></tr>
  </table>
</div>
<div id="todos">
</div>
<div id="patient-lists">
  <h2>Patient Lists:</h2>
  <ul>
    <% patient.patient_lists.each do |l| %>
      <li><%= l.name + ' ' + l.user.email %> </li>
    <% end %>
  </ul>
  <%= form_for :patient_lists_patients, url: memberships_path do |f| %>
    <%= hidden_field_tag :patient_id, patient.id %>
    <%= f.select :patient_list, current_user.patient_lists.map { |l|  [l.name, l.id] }, include_blank: true %>
    <%= f.submit "Add to List", id: "add-to-list" %>
  <% end %>
</div>
