<h2>Handover Task to On Call Team</h2>

<p>Patient: <%= link_to patient.name, patient %></p>
<p>To Do Item: <%= link_to to_do_item.description, edit_patient_path(patient) %><p>

<%= simple_form_for handover, :url => to_do_item_handovers_path(to_do_item, handover) do |f| %>
  <%= f.hidden_field :to_do_item_id, :value => to_do_item.id %>

  <%= simple_fields_for handover.handover_list do |list_form| %>
    <p><%= list_form.association :team, :collection => Team.on_call.order(:name), :as => :radio_buttons %></p>
    <p><%= list_form.input :shift_date, :value => Date.today, :as => :string, :input_html => {:class => "date-picker"} %></p>
  <% end %>
  
  <p><%= f.association :grade, :as => :select, :label_method => :title, :include_blank => false %></p>
  <p><%= f.submit %></p>
<% end %>
