<!DOCTYPE html>
<html>
<head>
  <title>NHS Patient List</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if user_signed_in? %> 
  <nav class="clearfix">
    <div class="left">
      <%= link_to "Home", root_path %>
      <%= link_to "All Patients", current_patients_path %>
      <%= link_to "My Lists", user_patient_lists_path(current_user.id) %>
    </div>
    <div class="right float">
      <%= current_user.email %>
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    </div>
  </nav>
  <% end %>
<%= yield %>

</body>
</html>
